body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* extra-light = 200, light = 300, regular = 400, medium = 500, semi-bold = 600, bold = 700 */
    background-image: url(../assets/background.jpg);
    background-repeat: round;
}


#profile{
    width:100%;
    float:left;
    border-radius:25px;
    border:2px solid transparent;
    filter: drop-shadow(5px 5px 5px black);
}

main{
    position:relative;
    top:0;
    background-color:white;
    padding:5px;
    border-radius:5px;
}

nav{
    border-bottom:3px solid grey;
}

article section{
    float:right;
    background-color: white;
    border-radius: 5px;
    padding:5px;
}

h1{
    font-weight:700;
}

h2{
    font-weight:600;
    text-align:center;
    padding:20px;

}

p{
    font-weight:300;
}

a{
    font-weight:500;
}

hr{
    text-align:center;
    border:2px solid skyblue;
}


footer{
    width:100%;
    position:sticky;
    bottom:0;
    background-color: white;    
    text-align:center;
    padding:25px;
    border-top:10px solid palevioletred;
    font-weight: 200;
}

/*media queries */

/* devices with the pixel sizes of 769px to 980px*/
@media screen and (max-width:980px) and (min-width:769px){
    .container-fluid{
        position:relative;
        width:90%;
        top:0;
    }
}

/*devices with the pixel sizes between 641px and 768px*/
@media screen and (max-width:768px) and (min-width:641px){
    .container-fluid{
        position:relative;
        top:0;
        width:75%;
    }
}

/*devices with a a pixel of 640px and lower*/
@media screen and (max-width: 640px){
    div.alert.alert-primary{
        width:100%;
        text-align:center;
    }

    h1.alert-heading{
        font-size:60px;
    }
    ul.nav.nav-pills.justify-content-end{
        width:100%;
        font-size:24px;
    }
    
    li.nav-item{
        margin-right:15%;
    }

    h2{
        width:100%;
        text-align:center;
        font-size:54px;
    }

    div.col-lg-4.col-md-4.col-sm-4{
        max-width:100%;
        flex-basis:100%;
    }

    section.col-lg-8.col-md-7.col-sm-7{
        max-width:100%;
        flex-basis: 100%;
        padding:10px;
    }

}

